<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="styles/trs-style-iWeblike.css" type="text/css">
    <script src="foundation/js/modernizr.js"></script>
    <link rel="icon" href="images-static/intptsfor17379-cropped.png" type="image/png" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/teaching">Teaching</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>





</body>
</html>


