<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	{%- include head.html -%}
	
  <body>
    <div class="wrapper">
      {%- include header.html -%}
      <section>
		<table>
		<tr>
		<td><a href="index">Home</a></td>
		<td><a href="contact">Contact</a></td>
		<td><a href="research">Research</a></td>
		<td><a href="teaching">Teaching</a></td>
		<td><a href="notes">Lectures notes etc</a></td>
		
		</tr>
		</table>
		
		<h1>{{ page.title }}</h1>
		
        {{ content }}
      </section>
      
      {%- include footer.html -%}
    </div>
  </body>
</html>
